.navbar {
    height: 40px;
    background-color: #fdc381;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}

.content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}