<div class="table">
    <div class="table-name item-margin">
        {{tableInfo.name}}
    </div>
    <div class="table-content" id="{{tableInfo.id}}" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event, tableInfo)" [cdkDropListConnectedTo]="connectedLists" [cdkDropListData]="res">
        <app-task *ngFor="let task of res" cdkDrag [cdkDragData]="task" [task]="task"></app-task>
    </div>
    <div class="table-controls item-margin" (click)="addNewTask()">
        Add new task
    </div>
</div>