<div class="window">
    <div class="window-title">
        CREATE NEW TASK IN TABLE: {{table.name}}
    </div>
    <form (ngSubmit)="createTask(taskForm)" #taskForm="ngForm">
        <div class="window-content">
            <input name="taskTitle" ngModel required minlength="3">
            <textarea name="taskDescription" ngModel></textarea>
        </div>
        <div class="window-controls">
            <button mat-button class="createButton">CREATE</button>
        </div>
    </form>
    
</div>