.window {
    height: 60vh;
    width: 60vw;
    background-color: rgb(255, 251, 239);
    border-radius: 10px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window-title {
    padding: 5% 2%;
}

.window-content {
    margin: 5%;
    flex: 1; 
}

.window-controls {
    margin-left: auto;
    justify-self: end;
    float: right;
}

.create-button {
    background-color: #59d179;
    color: #ffffff;
}

textarea {
    resize: none !important;
    min-height: 150px;
}

.input-field--size {
    width: 100%;
}