<div class="window">
    <div class="window__title">
        Create new table
    </div>
    <div class="window__content">
        <form (ngSubmit)="createEntity(taskForm)" #taskForm="ngForm">
            <mat-form-field class="input-field--size">
                <input matInput name="tableName" ngModel required minlength="3" placeholder="Table name" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="input-field--size">
                <textarea matInput name="tableDescription" ngModel placeholder="Table description"></textarea>
            </mat-form-field>
            <div class="window__controls">
                <button mat-button class="create-button" [disabled]="!taskForm.valid">CREATE</button>
            </div>
        </form>
    </div>
</div>