/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
    min-width: 320px;
}

app-root {
    display: flex;
    flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
